<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">3 UKHSA Testing Sites</h3>
    <p>
      The animal work conducted at the 3 UKHSA sites provides an essential capability
       for health security as well as opportunities for scientific advancement aligned 
       to UKHSA’s mission of interest to R&D funders internationally. UKHSA has substantial 
       experience in assisting in the development of countermeasures to protect the population
      from health threats
    </p>
    UKHSA Porton also includes Porton Biopharma Limited (PBL), which focusses on the quality-assured 
    development of life-saving biopharmaceuticals. PBL manufacture the licenced childhood leukaemia 
    therapy Erwinase, and the UK’s licenced anthrax vaccine.</p>
  </div>
  <!-- /.col -->

  <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
    <div class="list-box">
      <img src="/images/graph2b.png" alt="areas." />
      <div class="list-box__content">
        <h4 class="h5">Geographical Areas</h4>
        <ul>
          <li>Porton</li>
          <li>Chilton</li>
          <li>Colindale</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
