<div class="row">
    <div class="col-lg-6">
        <h3 class="red mb-3">UKHSA Locations for animal research</h3>
        <p>The animal work conducted at the 3 UKHSA sites provides an essential 
            capability for health security as well as opportunities for scientific 
            advancement aligned to UKHSA’s mission of interest to R&D funders internationally. 
            UKHSA has substantial experience in assisting in the development of countermeasures 
            to protect the population from health threats</p>
        <ul class="pt-4">
            <li>Robust surveillance and intelligence systems</li>
            <li>Timely detection, investigation and control of outbreaks of disease</li>
            <li>Developing, implementing and evaluating interventions to prevent and control infectious
                diseases</li>
            <li>Advising the central government, local government and other partners to inform public
                health policy and action</li>
            <li>Providing advice to the public to prevent and manage communicable diseases</li>
            <li>Focusing on how we can use sequencing to diagnose and manage infectious diseases</li>
        </ul>
    </div><!-- /.col -->

    <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
        <div class="list-box">
            <img src="/images/graph2b.png" alt="UKHSA sites.">
            <div class="list-box__content">
                <h4 class="h5">UKHSA Site Locations</h4>
                <ul>
                    <li>Porton</li>
                    <li>Collindale</li>
                    <li>Chilton</li>
                    
                </ul>
            </div>
        </div>
    </div>
</div><!-- /.row -->