<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">Public Health Protection</h3>
    <p>
      The UK Health Security Agency (UKHSA) uses animal tesing in specific and carefully 
      considered circumstances to support our public health research and protection responses 
      to infectious diseases, vaccines and evironmenal hazzards. Within our vaccine and therapy 
      development, animals are used to assess the safety and efficacy of new treatments for diseases 
      like influenza, HIV/AIDS, tuberculosis, hepatitis C, meningococcal disease, neonatal sepsis and 
      other infectious diseases.</p>
    <p>
     Alongside epidemiological and cell studies, animal research plays an essential role in understanding 
     how infectious, radiological, chemical and other environmental agents impact human health (Figure 1). 
     The biological similarities between humans and other species means that they can, on some occasions, 
     be the only effective model for research where responses to agents is too complex to be modelled in any 
     other way. Such animal models provide key scientific evidence that informs interventions, policies and responses to local, national and international health security .
    </p>
  </div>
  <!-- /.col -->

  <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
    <div class="list-box">
      <img src="/images/behavioural-sciences.jpg" alt="Person washing their hands." />
      <div class="list-box__content">
        <h4 class="h5">Other Research and Evaluation methods</h4>
        <ul>
          <li>Literature reviews and evidence syntheses</li>
          <li>Behavioural analysis</li>
          <li>Primary qualitative and quantitive data collection</li>
          <li>
            Inform intervention design (online and field-based pragmatic RCTs)
          </li>
          <li>Intervention implementation</li>
          <li>Evaluation and research</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
