<div class="row">
    <div class="col-lg-6">
        <h3 class="red mb-3">Where do we use animals in our research?</h3>
        <p>The animal work conducted at the 3 UKHSA sites Fig.2 provides an essential 
            capability for health security as well as opportunities for scientific advancement a
            ligned to UKHSA’s mission of interest to R&D funders internationally. UKHSA has 
            substantial experience in assisting in the development of countermeasures to protect 
            the population from health threats.:</p>

        <div class="row">
        <p>UKHSA Porton also includes Porton Biopharma Limited (PBL), which focusses on the 
          quality-assured development of life-saving biopharmaceuticals. PBL manufacture 
          the licenced childhood leukaemia therapy Erwinase, and the UK’s licenced 
          anthrax vaccine.</p>        
          <a
          class="button button--alt button--external mt-5"
          href="https://www.open.ac.uk/postgraduate/research-degrees/being-an-ou-research-student/affiliated-research-centres"
          target="_blank"
          rel="noopener"
          >Add link here</a>
        </div>
    </div><!-- /.col -->

    <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
        <div class="list-box">
            <img src="images/2a-graph.png">
            <div class="list-box__content">
                <h5>UKHSA Research Areas</h5>
                <ul>
                    <li>Blood-borne and Sexually Transmitted Infections</li>
                    <li>Countermeasures</li>
                    <li>Emerging and Zoonotic Diseases</li>
                    <li>Epidemology</li>
                    <li>Gastrointestinal Infections</li>
                    <li>Genomics</li>
                    <li>Healthcare Acquired Infections and Antimicrobial Resistance</li>
                    <li>Respiratory Infections</li>
                    <li>Vaccines and Immunisation</li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /.row -->