{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>Animal Research at UKHSA</h1>
    <div class="row mb-4">
      <div class="col-md-5">
        <p>
         <a style="color:white" href="https://concordatopenness.org.uk/about-the-concordat-on-openness/"target="_blank">Concordat on Openness</a></p>

        </p>
      </div>
    </div>
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="row pt-10">
      <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Why does UKHSA use Animal Testing?
        </h4>
        <img
          src="/images/awerb-diagram-480.png"
          alt="diagram showing value of animal research."
        />
      </div>
    <div class="col-lg-6 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Why does UKHSA use Animal Testing?
        </h3>

  
         <p>The UK Health Security Agency (UKHSA) is committed to the responsible use of animals in
          research and testing, in line with the principles of the 3Rs: Replacement, Reduction and
          Refinement. We are committed to ensuring that any animal research we undertake is necessary,
          justified and conducted to the highest ethical standards.</p>
      <p> We recognise that the use of animals in research is a sensitive and complex issue, and we
          are committed to being transparent about our use of animals in research. We believe that
          it is important to communicate openly with the public about the role of animal research in
          advancing scientific knowledge and improving human health.</p>
        </p>
        <a
          class="button button--alt button--external mt-5"
          href="https://www.open.ac.uk/postgraduate/research-degrees/being-an-ou-research-student/affiliated-research-centres"
          target="_blank"
          rel="noopener"
          >Learn about consider link here</a
        >
      </div>
    </div>

    
    

<div class="container">
    <!-- Tabs Begin -->
    <div class="nav-tabs-container">
      <button class="js-tabs-dropdown">Select specialist area</button>
      <ul class="nav nav-tabs nav-tabs--research" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="tab-1"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-1"
            type="button"
            role="tab"
            aria-controls="tab-content-1"
            aria-selected="true"
          >
            Public Health Protection
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-2"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-2"
            type="button"
            role="tab"
            aria-controls="tab-content-2"
            aria-selected="false"
          >
            Vaccine and Therapy Development
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-3"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-3"
            type="button"
            role="tab"
            aria-controls="tab-content-3"
            aria-selected="false"
          >
            Diagnostic and Emergency Preparedness
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-4"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-4"
            type="button"
            role="tab"
            aria-controls="tab-content-4"
            aria-selected="false"
          >
            Ethical Frameworks and Practices
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-5"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-5"
            type="button"
            role="tab"
            aria-controls="tab-content-5"
            aria-selected="false"
          >
            To be confirmed
          </button>
        </li>
      </ul>
    </div>

         <p>The UK Health Security Agency (UKHSA) uses animal tesing in specific and carefully
          considered circumstances to support our public health research and protection responses
          to infectious diseases, vaccines and evironmenal hazzards. Within our vaccine and therapy
          development, animals are used to assess the safety and efficacy of new treatments for 
          diseases like influenza, HIV/AIDS, tuberculosis, hepatitis C, meningococcal disease, neonatal
          sepsis and other infectious diseases.</p>
          <br>
      <p> Alongside epidemiological and cell studies, animal research plays an
          essential role in understanding how infectious, radiological, chemical
          and other environmental agents impact human health (Figure 1). The biological
          similarities between humans and other species means that they can, on some 
          occasions, be the only effective model for research where responses to agents 
          is too complex to be modelled in any other way.  Such animal models provide key 
          scientific evidence that informs interventions, policies and responses to local,
          national and international health security</p>

          
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pt-8 pt-lg-0 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">How do we use animals in UKHSA research?</h4>
        <img
          src="/images/research-study.jpg"
          alt="Explanation of Animal Research in Practice."
        />
      </div>
      <div class="col-lg-6">

        <h3 class="red d-none d-lg-block">How do we use Animals in our Research?</h3>
        <p>
        <div>More specifically, animals are used in UKHSA reserach to:
            <ul>
            <li>improve methods of diagnosis and to identify the severity of new and emerging pathogens.</li>
            <li>support the development of, and access to, new vaccines or therapies for the main public 
            health threats and emerging or re-emerging diseases, including those on the UKHSA list of pathogens.</li>
            </li>characterise the effectsof low does radiation on colon cancer, leukaemia, cateract or 
            cardiovascular disease development.</li>
            <li>investigate the additional positive effects of sunlight beyond the benefits of vitamin D.</li>
            <li>identify the potential toxicity of inhaled particles, including particulate matter and nanomaterials.</li>
            <li>inform policies, interventions and messaging campaigns to better protect human health.</li>
            <li>improve the management of casualties in acute radiation, chemical and other environmental incidents.</li>
            </ul>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Process and Transparency
        </h4>
        <img
          src="/images/graph2b.png"
          alt="usage of animals by site."
        />
      </div>
      <div class="col-lg-6 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Where do we use animals in our research?
        </h3>
        <p>The animal work conducted at the 3 UKHSA sites provides an essential capability for health security as well as opportunities for scientific advancement aligned to UKHSA’s mission of interest to R&D funders internationally. UKHSA has substantial experience in assisting in the development of countermeasures to protect the population from health threats. 
          UKHSA Porton also includes Porton Biopharma Limited (PBL), which focusses on the quality-assured development of life-saving biopharmaceuticals. PBL manufacture the licenced childhood leukaemia therapy Erwinase, and the UK’s licenced anthrax vaccine.</p>


      
        </p>
        <a
          class="button button--alt button--external mt-5"
          href="https://www.open.ac.uk/postgraduate/research-degrees/being-an-ou-research-student/affiliated-research-centres"
          target="_blank"
          rel="noopener"
          >Learn about ARCs</a
        >
      </div>
    </div>

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">
         What are the Associated Organisational Risks?
        </h4>
        
        <img
          src="/images/graph1a.png"
          alt="percentage of animals used in studies."
        />
      </div>
      <div class="col-lg-6">
        <h3 class="red d-none d-lg-block"> How many animals are used?</h3>
    
        <p>The majority of the animals used each year are mice (47%), followed by guinea pigs (31.5 %), hamsters (14%), 
          ferrets (3%), and non-human primates, rabbits, rats and turkeys (4.5% total) (Figure 2A). The vast proportion of these animals suffer no, mild or moderate harm. UKHSA Porton uses the most animals (70%), followed by UKHSA Chilton (27%) and UKHSA Colindale (3%) (Figure 2B). Click for more information on 
          UKHSA animal use for 2023 and previous years.</p>

          

         
        </p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Using Animals in Research - Promoting Transparency
        </h4>
        <img
          src="/images/research-and-collaboration-opportunities.jpg"
          alt="Research and collaboration."
        />
      </div>
      <div class="col-lg-6 order-lg-1">
        <h3 class="red d-none d-lg-block">
          How is animal research regulated in the UK?
        </h3>
        <p>
          Use of animals for research in the UK is governed by the <a style="color: black;" href="https://www.legislation.gov.uk/ukpga/1986/14/contents"target="_blank">Animals (Scientific Procedures) Act 1986</a>. This stipulates that animal research can only be performed under a specified Project Licence (PPL),
          within an organisation with a Place Establishment Licence (PEL), and by individuals holding a Personal Licence (PIL). ASPA is implemented and regulated by the Animals in Science Regulation Unit (ASRU) 
          with the Home Office. More information on ASPA and its operation can be found here.
        </p>

        <p>
          One requirement of the ASPA is to have an Animal Welfare and Ethical Review Body (AWERB) to ensure that the use of animals is carefully considered, justified and performed to high standards; 
          all opportunities for reduction, refinement and replacement (the 3Rs) are implemented; and the four commitments of the Understanding Animal Research (UAR) Concordat ono
          Openness are upheld. 

          <p>The PEL holder at each site has overall responsibility for the implementation of ASPA and the operation of the AWERB. The 3 AWERBs function locally but work collaboratively to share best practice, 
            reporting quarterly into the UKHSA Science Governance Committee. More information can be found on UKHSA AWERB terms of reference.</p>
          <a class="bold-link" href="mailto:ResearchSupport@ukhsa.gov.uk"
            >ResearchSupport@ukhsa.gov.uk</a
          >
        </p>
      </div>
    </div>

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Opportunities for Industry
        </h4>
        <img
          src="/images/opportunities-for-industry.jpg"
          alt="Opportunities for industry."
        />
      </div>
      <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">Opportunities for Industry</h3>
        <p>
          UKHSA can provide your organisation with access to world-leading
          expertise in research and development across a broad range of
          activities that prevent and reduce of the effect of diseases and
          chemical and radiation hazards.
        </p>

        <p>
          We offer opportunities for research collaboration and partnership,
          consultancy, technology licensing and training and development for
          industry.
        </p>

        <p>
          Please contact our Business Development Team (<a
            class="bold-link"
            href="mailto:Business@ukhsa.gov.uk"
            >Business@ukhsa.gov.uk</a
          >) who have in depth knowledge of our organisation’s research
          activities and will be able to direct your enquiry to the appropriate
          experts.
        </p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-9 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Research and collaboration opportunities
        </h3>
        <p class="mb-4">
          <strong>OPEN CALL:</strong> Apply to undertake an ‘Innovation in AMR’ study with UKHSA, working with our scientific experts.
        </p>
        <a
          class="button button--alt button--external"
          href="/https://research.ukhsa.gov.uk/documents/UKHSA-AMR-Open-Innovation-Factsheets-Oct-2021.pdf"
          target="_blank"
          rel="nopener"
          >Click here for more information</a
        >
      </div>
    </div>
    <!-- /. row -->
  </div>
  <!-- /.container -->

  <div class="container"></div>
  <!-- /.container -->
</section>

{{ end }}
