{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>UKHSA Research involving Animals</h1>
    <div class="row mb-4">
      <div class="col-md-5">
        <p>
         <a style="color:white" href="https://concordatopenness.org.uk/about-the-concordat-on-openness/"target="_blank">Concordat on Openness</a></p>

        </p>
        <p style="color:white">
          The UK Health Security Agency (UKHSA) is committed to the responsible use of animals in research and testing, in line with the principles of 
          the 3Rs: Replacement, Reduction and Refinement. We are committed to ensuring that any animal research we undertake is necessary, justified and conducted to the highest 
          ethical standards.
        </p>
      </div>
    </div>
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Why does UKHSA use Animal Testing?</h4>
      </div>
    </div>

    <div class="row">  
      <div class="col-lg-6 pt-8 pt-lg-0 pb-1g-0">
        <figure>
          <img
            src="/images/awerb-diagram-480.png">
          <div class="row">
            <figcaption><b><i><br>Fig 1. UKHSA Research</b></i></figcaption>
              <p><i>Alongside epideiological and cell studies, 
              animal research plays an essential role in understanding how infectious, radiological,
              chemical and other environmental agents impact human health</i>
            </p>
            </figcaption>
          </figure>

      
      </div>
    <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">
          Using Animal Testing in UKHSA Research
        </h3>
         <p>
        The UKHSA recognises that the use of animals in research is a sensitive and complex issue, and we
        are committed to being transparent about our use of animals in research. We believe that
        it is important to communicate openly with the public about the role of animal research in
        advancing scientific knowledge and improving human health <b>(Fig.1)</b>.</p>
        <p>The biological similarities between humans and other species means that they can, on some 
        occasions, be the only effective model for research where responses to agents 
        is too complex to be modelled in any other way.  Such animal models provide key 
        scientific evidence that informs interventions, policies and responses to local,
        national and international health security.
      </p>
      <p>The UK Health Security Agency (UKHSA) uses animal tesing in specific and carefully
          considered circumstances to support our public health research and protection responses
          to infectious diseases, vaccines and evironmenal hazzards. Within our vaccine and therapy
          development, animals are used to assess the safety and efficacy of new treatments for 
          diseases like influenza, HIV/AIDS, tuberculosis, hepatitis C, meningococcal disease, neonatal
          sepsis and other infectious diseases.</p>
          <br>
    </div>
  </div>
    <!-- /.row -->    
        <a
          class="button button--alt button--external mt-5"
          href="https://www.open.ac.uk/postgraduate/research-degrees/being-an-ou-research-student/affiliated-research-centres"
          target="_blank"
          rel="noopener"
          >consider link here</a>
      
    </p>
</div>
<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="pb-4 red">Animal Research at UKHSA</h2>
      </div>
    </div>

      </div>
    </div>
  <div>
<div class="container">
    <!-- Tabs Begin -->
    <div class="nav-tabs-container">
      <button class="js-tabs-dropdown">Select specialist area</button>
      <ul class="nav nav-tabs nav-tabs--research" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="tab-1"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-1"
            type="button"
            role="tab"
            aria-controls="tab-content-1"
            aria-selected="true"
          >
            Where do we use animals in our research?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-2"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-2"
            type="button"
            role="tab"
            aria-controls="tab-content-2"
            aria-selected="false"
          >
            How do we use animals in our research?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-3"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-3"
            type="button"
            role="tab"
            aria-controls="tab-content-3"
            aria-selected="false"
          >
            How many animals do we use in our research?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-4"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-4"
            type="button"
            role="tab"
            aria-controls="tab-content-4"
            aria-selected="false"
          >
            How is animal research regulated in the UK?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-5"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-5"
            type="button"
            role="tab"
            aria-controls="tab-content-5"
            aria-selected="false"
          >
            To be confirmed
          </button>
        </li>
      </ul>
    </div>

         

  
    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Where do we use animals in our research?
        </h4>
        <figure>
          <img
            src="/images/2b-graph.png"
            alt="Annual UKHSA animal usage over the last 5 years by site."
          />
          <figcaption>
            <b><i>Fig 2</i></b>
            <p><i>Annual UKHSA animal usage over the last 5 years by site. Values represent the annual average percentages of average annual total of 5695 animals from 2017 to 2021.</i></p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-6 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Where do we use animals in our research?
        </h3>
        <p>
          The animal work conducted at the 3 UKHSA sites provides an essential 
          capability for health security as well as opportunities for scientific 
          advancement aligned to UKHSA’s mission of interest to R&D funders internationally. 
          UKHSA has substantial experience in assisting in the development of countermeasures
          to protect the population from health threats.
        </p>
        <p>UKHSA Porton also includes Porton Biopharma Limited (PBL), which focusses on the 
          quality-assured development of life-saving biopharmaceuticals. PBL manufacture 
          the licenced childhood leukaemia therapy Erwinase, and the UK’s licenced 
          anthrax vaccine.</p>        
          <a
          class="button button--alt button--external mt-5"
          href="https://www.open.ac.uk/postgraduate/research-degrees/being-an-ou-research-student/affiliated-research-centres"
          target="_blank"
          rel="noopener"
          >Add link here</a
        >
      </div>
    </div>

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">
          How do we use our animals in our research?
        </h4>
        <img
          src="add image here"
          alt="use of animals by species."
      
        />
      </div>
      <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">How do we use animals in our research?</h3>
        <p>
                    More specifically, animals are used in UKHSA reserach to:
            <ul>
            <li>improve methods of diagnosis and to identify the severity of new and emerging pathogens.</li>
            <li>support the development of, and access to, new vaccines or therapies for the main public 
            health threats and emerging or re-emerging diseases, including those on the <a href="https://www.gov.uk/government/publications/priority-pathogen-families-research-and-development-tool" target="_blank">UKHSA list of pathogens</a>
          </li>
            </li>characterise the effectsof low does radiation on colon cancer, leukaemia, cateract or 
            cardiovascular disease development.</li>
            <li>investigate the additional positive effects of sunlight beyond the benefits of vitamin D.</li>
            <li>identify the potential toxicity of inhaled particles, including particulate matter and nanomaterials.</li>
            <li>inform policies, interventions and messaging campaigns to better protect human health.</li>
            <li>improve the management of casualties in acute radiation, chemical and other environmental incidents.</li>
            </ul>


        <p>
          Further details of animal studies conducted at UKHSA can be viewed <a href="https://www.gov.uk/government/publications/uk-health-security-agency-ukhsa-research-involving-animals/ukhsa-research-involving-animals"target="_blank" rel="noopener">Here</a>

        </p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
        <h4 class="d-lg-none d-print-none pb-4 red">
          How many animals do we use in our research?
        </h4>
        <figure>
          <div class="img-container">
            <img
              src="/images/2a-graph.png"
              alt="number of animals used."
            />
            <p class="caption-right"><text-align:centre>Fig 3. Annual UKHSA Animal usage by species over the last 5 years.</text-align:centre><i><b></b></i></p>
          </div>
          <figcaption>
            <p class="caption-centre"><i>Annual UKHSA animal species over the last 5 years by site. 
              Values represent the annual average percentages of average annual total of 5695 animals 
              from 2017 to 2021.</i></p>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-6 order-lg-1">
        <h3 class="red d-none d-lg-block">
          How many animals do we use?
        </h3>
        <p>
          Across the 3 sites using animals in their research, an average of 3400 animals are typically used per year. 
          This is less than 6% of the usage of the top 10 UK organisations that performed the most animal research, 
          which reported the use of over 60,580 (10th) to 223,787 (1st) animals in 2023. Click for more information 
          on how UKHSA compares to other<a href="https://www.understandinganimalresearch.org.uk/news/ten-organisations-account-for-half-of-all-animal-research-in-great-britain-in-2023" target="_blank">UK organisations,</a>
          and how the UK compares to other <a href="https://www.understandinganimalresearch.org.uk/news/eu-wide-animal-research-statistics-2022" target="_blank">European nations.</a>
        </p>

        <p>https://www.understandingani
         The majority of the animals used each year are mice (47%), followed by guinea pigs (31.5 %), hamsters (14%), 
         ferrets (3%), and non-human primates, rabbits, rats and turkeys (4.5% total) (Figure 2A). The vast proportion 
         of these animals suffer no, mild or moderate harm. UKHSA Porton uses the most animals (70%), followed by UKHSA 
         Chilton (27%) and UKHSA Colindale (3%) (Figure 2B). Click for more information on UKHSA animal use for 2023 and <a href="https://www.gov.uk/government/publications/uk-health-security-agency-ukhsa-research-involving-animals" target="_blank">previous years.</a>
      
        </p>
      </div>
    </div>

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">
          How is animal research regulated in the UK?
        </h4>
        <img
          src="/images/animals-scientific.webp"
          alt="image of the legislation."
        />
      </div>
      <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">How is animal research regulated in the UK?</h3>
        <p>
         Use of animals for research in the UK is governed by the Animals (Scientific Procedures) Act 1986. 
         This stipulates that animal research can only be performed under a specified Project Licence (PPL), 
         within an organisation with a Place Establishment Licence (PEL), and by individuals holding a Personal 
         Licence (PIL). ASPA is implemented and regulated by the Animals in Science Regulation Unit (ASRU) with 
         the Home Office. More information on ASPA and its operation can be found
         <a href="https://assets.publishing.service.gov.uk/media/66e0233ab1a8879e443282a0/Guidance_on_the_operation_of_ASPA_-_December_2023.pdf" target="_blank">here.</a></p>
        </p>

        <p>
          One requirement of the ASPA is to have an Animal Welfare and Ethical Review Body (AWERB) to ensure that
          the use of animals is carefully considered, justified and performed to high standards; all opportunities 
          for reduction, refinement and replacement (the 3Rs) are implemented; and the four commitments of the 
          Understanding Animal Research (UAR) <a href="https://concordatopenness.org.uk/about-the-concordat-on-openness/" target="_blank">Concordat on Openness</a> are upheld. 
        </p>
        <p>The PEL holder at each site has overall responsibility for the implementation of ASPA and the operation of the AWERB. The 3 AWERBs function locally but work 
          collaboratively to share best practice, reporting quarterly into the UKHSA Science Governance Committee. 
          More information can be found on <a href="https://khub.net/web/phe-national/public-library/-/document_library/v2WsRK3ZlEig/view_file/260932585?_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_v2WsRK3ZlEig_redirect=https%3A%2F%2Fkhub.net%3A443%2Fweb%2Fphe-national%2Fpublic-library%2F-%2Fdocument_library%2Fv2WsRK3ZlEig%2Fview%2F260897286%3F_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_v2WsRK3ZlEig_redirect%3Dhttps%253A%252F%252Fkhub.net%253A443%252Fweb%252Fphe-national%252Fpublic-library%252F-%252Fdocument_library%252Fv2WsRK3ZlEig%252Fview%252F174103465" target="_blank">UKHSA AWERB terms of reference.</a></p>

    <!-- /.row -->
</div>
<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="pb-4 red">How UKHSA strives to implement the 3'Rs</h2>
      </div>
    </div>

      <p class="mb-4">
         <h4 class="pb-4 red">Replacement</h4></p>
    <p>Replacement is the use of non-animal alternatives in place of using animals. 
      While suitable non-animal alternatives that completely model the complex human health 
      responses to environmental hazards or pathogens are currently available, UKHSA is working 
      on multiple new approach methodologies (NAMs). This includes <a href="https://research.ukhsa.gov.uk/our-research/microphysiological-systems/" target="_blank">Organ on a Chip.</a>‘organ on a chip’ systems to 
      help develop vaccines, drug and therapeutics against a broad range of other dangerous infectious 
      diseases including MERS and Influenza virus. In the long term, we anticipate that this research 
      will accelerate the rate of development of novel medicines. In addition, we are developing and 
      validating new cell-based tests to support animal-free chemical safety regulation.</p>

     <p class="mb-4">
         <h4 class="pb-4 red">Reduction</h4></p>
    <p>Reduction involves minimising the number of animals used in research while maintaining the validity
      of the data collected, ensuring that no animals are used unnecessarily. Throughout the lifetime of our 
      research projects using animals, we continually review and employ improved statistical approaches, which 
      have helped us to use less animals than originally planned. Wherever possible we also share animal tissue 
      and results with internal and external collaborators to maximise the data generated from animals and allow 
      new technologies to add value to existing samples, thereby preventing duplication of experiments. </p>
        </p>
    <p>At UKHSA we use in vitro screening of potential countermeasures wherever possible and we have established
      a comprehensive archive of animal blood and tissues that can be shared across the organisation to develop new 
      technologies or apply new analysis that will enhance our interpretation of previously conducted studies, 
      removing the need for additional animals</p>
    
 <p class="mb-4">
          <h4 class="pb-4 red">Refinement</h4></p>
  <p>Refinement is centred around improving the experience of the research animal by minimising pain, suffering, distress 
    and harm. At UKHSA the care and conditions for animals in research are continually refined to minimise harm and distress 
    as much as possible. Practices are regularly assessed and updated to enhance animal well-being at every opportunity. 
    This has involved ensuring group housing for social animals and developing novel and exciting enrichment activities for 
    the wide variety of species we use. For example, ……. (could ask Susan and others to describe the enrichment initiatives 
    and provide pictures?).</p>

    <p>Examples of refinement include housing animals in socially compatible groups wherever possible, provision of enrichment 
      appropriate to the species to encourage natural behaviours and adopting sampling techniques in line with advice from bodies 
      such as the <i>National Centre for the Replacement, Refinement and Reduction of Animals in Research </i> <a href="https://nc3rs.org.uk/who-we-are/3rs" target="_blank">NC3R's</a> through regular liaison.  
      In addition, we have refined studies through the use of advanced medical imaging that provides critical data whilst being non-invasive </p>
</p>
        <a
          class="button button--alt button--external"
          href="/documents/UKHSA-AMR-Open-Innovation-Factsheets-Nov-2024.pdf"
          target="_blank"
          rel="nopener"
          >Click here for more information</a
        >
      </div>
    </div>
    <!-- /. row -->
  </div>
  <!-- /.container -->

  <div class="container"></div>
  <!-- /.container -->
</section>

{{ end }}
