{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>Animal Research at UKHSA</h1>
    <div class="row mb-4">
      <div class="col-md-5">
        <p>
         <a style="color:white" href="https://concordatopenness.org.uk/about-the-concordat-on-openness/"target="_blank">Concordat on Openness</a></p>

        </p>
      </div>
    </div>
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Why does UKHSA use Animal Testing?</h4>
      </div>
    </div>

    <div class="row">  
      <div class="col-lg-6 pt-8 pt-lg-0 pb-1g-0">
        <img
          src="/images/awerb-diagram-480.png"
          alt="diagram showing value of animal research."
        />
      </div>
    <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">
          Why does UKHSA use Animal Testing?
        </h3>
         <p>
          The UK Health Security Agency (UKHSA) is committed to the responsible use of animals in
          research and testing, in line with the principles of the 3Rs: Replacement, Reduction and
          Refinement. We are committed to ensuring that any animal research we undertake is necessary,
          justified and conducted to the highest ethical standards.</p>

      
      <p> 
        We recognise that the use of animals in research is a sensitive and complex issue, and we
        are committed to being transparent about our use of animals in research. We believe that
        it is important to communicate openly with the public about the role of animal research in
        advancing scientific knowledge and improving human health.</p>
      </p>
    </div>
  </div>
    <!-- /.row -->    
        <a
          class="button button--alt button--external mt-5"
          href="https://www.open.ac.uk/postgraduate/research-degrees/being-an-ou-research-student/affiliated-research-centres"
          target="_blank"
          rel="noopener"
          >Learn about consider link here</a>
      </p>
      </div>
    </div>
  <div>
<div class="container">
    <!-- Tabs Begin -->
    <div class="nav-tabs-container">
      <button class="js-tabs-dropdown">Select specialist area</button>
      <ul class="nav nav-tabs nav-tabs--research" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="tab-1"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-1"
            type="button"
            role="tab"
            aria-controls="tab-content-1"
            aria-selected="true"
          >
            Public Health Protection
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-2"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-2"
            type="button"
            role="tab"
            aria-controls="tab-content-2"
            aria-selected="false"
          >
            Vaccine and Therapy Development
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-3"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-3"
            type="button"
            role="tab"
            aria-controls="tab-content-3"
            aria-selected="false"
          >
            Diagnostic and Emergency Preparedness
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-4"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-4"
            type="button"
            role="tab"
            aria-controls="tab-content-4"
            aria-selected="false"
          >
            Ethical Frameworks and Practices
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-5"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-5"
            type="button"
            role="tab"
            aria-controls="tab-content-5"
            aria-selected="false"
          >
            To be confirmed
          </button>
        </li>
      </ul>
    </div>

         <p>The UK Health Security Agency (UKHSA) uses animal tesing in specific and carefully
          considered circumstances to support our public health research and protection responses
          to infectious diseases, vaccines and evironmenal hazzards. Within our vaccine and therapy
          development, animals are used to assess the safety and efficacy of new treatments for 
          diseases like influenza, HIV/AIDS, tuberculosis, hepatitis C, meningococcal disease, neonatal
          sepsis and other infectious diseases.</p>
          <br>
      <p> Alongside epidemiological and cell studies, animal research plays an
          essential role in understanding how infectious, radiological, chemical
          and other environmental agents impact human health (Figure 1). The biological
          similarities between humans and other species means that they can, on some 
          occasions, be the only effective model for research where responses to agents 
          is too complex to be modelled in any other way.  Such animal models provide key 
          scientific evidence that informs interventions, policies and responses to local,
          national and international health security</p>
          <section class="pt-13 pb-12">
  