  {{ define "main" }}

  <div class="page-title">
    <div class="container">
      <h1>Science and Research</h1>
      <div class="row mb-4">
        <div class="col-md-6">
          <p>
            Science is at the core of our work to identify and control health
            hazards. Research answers key questions that inform policy and action.
            Innovation is needed to identify and implement solutions to complex
            public health challenges.
          </p>
        </div>
      </div>

      <a
        class="button button--external"
        href="https://researchportal.phe.gov.uk/"
        target="_blank"
        >Explore UKHSA research</a
      >
    </div>
  </div>

  <section class="pt-9 pb-12">
    <div class="container pb-6">
      <h2>Research Areas & Capability</h2>
      <div class="row">
        <div class="col-lg-8">
          <p>
            We conduct research and employ evidence-based practice throughout all
            parts of the organisation, particularly within the Science and Public
            Health and Clinical Groups.
          </p>
        </div>
      </div>
    </div>

      <!-- Tabs Begin -->
      <div class="nav-tabs-container">
        <button class="js-tabs-dropdown">Select specialist area</button>
        <ul class="nav nav-tabs nav-tabs--research" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="tab-1"
              data-bs-toggle="tab"
              data-bs-target="#tab-content-1"
              type="button"
              role="tab"
              aria-controls="tab-content-1"
              aria-selected="true"
            >
              Infectious Diseases
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-2"
              data-bs-toggle="tab"
              data-bs-target="#tab-content-2"
              type="button"
              role="tab"
              aria-controls="tab-content-2"
              aria-selected="false"
            >
              Environment and Health
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-3"
              data-bs-toggle="tab"
              data-bs-target="#tab-content-3"
              type="button"
              role="tab"
              aria-controls="tab-content-3"
              aria-selected="false"
              >
              Emergency Response
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-4"
              data-bs-toggle="tab"
              data-bs-target="#tab-content-4"
              type="button"
              role="tab"
              aria-controls="tab-content-4"
              aria-selected="false"
            >
              Behavioural Sciences
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-5"
              data-bs-toggle="tab"
              data-bs-target="#tab-content-5"
              type="button"
              role="tab"
              aria-controls="tab-content-5"
              aria-selected="false"
            >
              Statistics and Modelling
            </button>
          </li>
        </ul>
      <!-- Ensure the <ul> is properly closed before starting tab content -->

      <div class="tab-content pt-10" id="pheTabContent">
        <!-- Tab 1 -->
        <div
          class="tab-pane fade show active"
          id="tab-content-1"
          role="tabpanel"
          aria-labelledby="tab-1"
        >
          {{ partial "research-areas/infectious-diseases" . }}
        </div>

        <!-- Tab 2 -->
        <div
          class="tab-pane fade"
          id="tab-content-2"
          role="tabpanel"
          aria-labelledby="tab-2"
        >
          {{ partial "research-areas/environment-and-health" . }}
        </div>

        <!-- Tab 3 -->
        <div
          class="tab-pane fade"
          id="tab-content-3"
          role="tabpanel"
          aria-labelledby="tab-3"
        >
          {{ partial "research-areas/emergency-response" . }}
        </div>

        <!-- Tab 4 -->
        <div
          class="tab-pane fade"
          id="tab-content-4"
          role="tabpanel"
          aria-labelledby="tab-4"
        >
          {{ partial "research-areas/behavioural-sciences" . }}
        </div>

        <!-- Tab 5 -->
        <div
          class="tab-pane fade"
          id="tab-content-5"
          role="tabpanel"
          aria-labelledby="tab-5"
        >
          {{ partial "research-areas/statistics-and-modelling" . }}
        </div>
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.container -->
  </section>

  {{ range first 1 .Pages }}

      