<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">How many animals do we use?</h3>
    <p>
      Across the 3 sites using animals in their research, an average of 3400 animals are typically used per year. 
      This is less than 6% of the usage of the top 10 UK organisations that performed the most animal research, 
      which reported the use of over 60,580 (10th) to 223,787 (1st) animals in 2023. Click for more information 
      on how UKHSA compares to other UK organisations, and how the UK compares to other European nations.
    </p>

    <p>
     The majority of the animals used each year are mice (47%), followed by guinea pigs (31.5%), hamsters (14%), 
     ferrets (3%), and non-human primates, rabbits, rats and turkeys (4.5% total) (Figure 2A). The vast proportion 
     of these animals suffer no, mild or moderate harm. UKHSA Porton uses the most animals (70%), 
     followed by UKHSA Chilton (27%) and UKHSA Colindale (3%) (Figure 3). Click for more information on UKHSA
    animal use for 2023 and previous years.
    </p>
  </div>
  <!-- /.col -->

  <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
    <div class="list-box">
      <img src="/images/2a-graph.png" alt="numbers used."/>
      <div class="list-box__content">
        <h4 class="h5">
          To address these challenges we develop data driven models that combine
        </h4>
        <ul>
          <li>An understanding of how populations mix,</li>
          <li>
            Our current understanding around parameters that describe the
            natural history of an infectious pathogen,
          </li>
          <li>
            Our understanding of the data generation processes underlying our
            surveillance data,
          </li>
          <li>
            An understanding of the zoonotic infections and their potential
            eco-epidemiology (MEZE),
          </li>
          <li>Spatial and behavioural processes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
