<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">Where do we use animals in our research?</h3>
    <p>
      The animal work conducted at the 3 UKHSA sites Fig.2 provides an essential 
      capability for health security as well as opportunities for scientific advancement 
      aligned to UKHSA’s mission of interest to R&D funders internationally. UKHSA has 
      substantial experience in assisting in the development of countermeasures to protect 
      the population from health threats.
    </p>
    <p>UKHSA Porton also includes Porton Biopharma Limited (PBL), which focusses on the quality-assured development of life-saving biopharmaceuticals. PBL manufacture the licenced childhood leukaemia therapy Erwinase, and the UK’s licenced anthrax vaccine.

Add link here</p>
  <!-- /.col -->

  <div class="col-lg-5 offset-lg-1 pt-6 pt-lg-0">
    <div class="list-box">
      <img src="/images/2b-graph.png" alt="location.">
      <div class="list-box__content">
        <h4 class="h5">Optional list for info</h4>
        <ul>
          <li>Emergency preparedness</li>
          <li>Emergency Operation Centre guidance, plans and exercises</li>
          <li>Horizon scanning and risk assessment</li>
          <li>
            Training and exercises with Skills for Health quality assurance
          </li>
          <li>Process for lessons identified and review of actions</li>
          <li>
            Evidence based scientific and medical research informing all EPRR
            services
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
