{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>Animal Research - Promoting Transparency</h1>
    <div class="row mb-4">
      <div class="col-md-6">
        <p>
          The UK Health Security Agency (UKHSA) is committed to the responsible use of animals in research and testing, in line with the principles of 
          the 3Rs: Replacement, Reduction and Refinement. We are committed to ensuring that any animal research we undertake is necessary, justified and conducted to the highest 
          ethical standards.
        </p>
      </div>
    </div>

    <a
      class="button button--external"
      href="https://researchportal.phe.gov.uk/"
      target="_blank"
      >Explore UKHSA research</a
    >
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <h2>Why do we use animals in our research?</h2>
      <div class="col-lg-8">
        <p>
        Alongside epidemiological and cell studies, animal research plays 
        an essential role in understanding how infectious, radiological, chemical and other 
        environmental agents impact human health (Figure 1). The biological similarities 
        between humans and other species means that they can, on some occasions, be the only 
        effective model for research where responses to agents is too complex to be modelled in 
        any other way. Such animal models provide key scientific evidence that informs interventions, 
        policies and responses to local, national and international health security incidents, protecting 
        the population from existing and emerging health threats.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Tabs Begin -->
    <div class="nav-tabs-container">
      <button class="js-tabs-dropdown">Select specialist area</button>
      <ul class="nav nav-tabs nav-tabs--research" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="tab-1"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-1"
            type="button"
            role="tab"
            aria-controls="tab-content-1"
            aria-selected="true"
          >
            How do we use animals in our research?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-2"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-2"
            type="button"
            role="tab"
            aria-controls="tab-content-2"
            aria-selected="false"
          >
            Numbers of animals used in our research
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-3"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-3"
            type="button"
            role="tab"
            aria-controls="tab-content-3"
            aria-selected="false"
          >
            Where are animals used in our research?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-4"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-4"
            type="button"
            role="tab"
            aria-controls="tab-content-4"
            aria-selected="false"
          >
            What are the regulations around animal research?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-5"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-5"
            type="button"
            role="tab"
            aria-controls="tab-content-5"
            aria-selected="false"
          >
            To be confirmed
          </button>
        </li>
      </ul>
    </div>

    <div class="tab-content pt-10" id="pheTabContent">
      <!-- Tab 1 -->
      <div
        class="tab-pane fade show active"
        id="tab-content-1"
        role="tabpanel"
        aria-labelledby="tab-1"
      >
        {{ partial "ukhsa-animal-research/how-animal-research" . }}
      </div>

      <!-- Tab 2 -->
      <div
        class="tab-pane fade"
        id="tab-content-2"
        role="tabpanel"
        aria-labelledby="tab-2"
      >
        {{ partial "ukhsa-animal-research/numbers-animal-research" . }}
      </div>

      <!-- Tab 3 -->
      <div
        class="tab-pane fade"
        id="tab-content-3"
        role="tabpanel"
        aria-labelledby="tab-3"
      >
        {{ partial "ukhsa-animal-research/regulations-animals" . }}
      </div>

      <!-- Tab 4 -->
      <div
        class="tab-pane fade"
        id="tab-content-4"
        role="tabpanel"
        aria-labelledby="tab-4"
      >
        {{ partial  "ukhsa-animal-research/where-animal-research . }}
      </div>

      <!-- Tab 5 -->
      <div
        class="tab-pane fade"
        id="tab-content-5"
        role="tabpanel"
        aria-labelledby="tab-5"
      >
        {{ partial " "ukhsa-animal-research/why-animal-research" . }}
      </div>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.container -->
</section>

{{ range first 1 .Pages }}

     