{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>UKHSA Research Involving Animals</h1>
   <div class="row mb-4">
      <div class="col-md-5">
        <p>
         <a style="color:white" href="https://concordatopenness.org.uk/about-the-concordat-on-openness/"target="_blank">Concordat on Openness</a></p>

        </p>
        <p style="color:white">
          The UK Health Security Agency (UKHSA) is committed to the responsible use of animals in research and testing, in line with the principles of 
          the 3Rs: Replacement, Reduction and Refinement. We are committed to ensuring that any animal research we undertake is necessary, justified and conducted to the highest 
          ethical standards.
        </p>
      </div>
    </div>
  </div>
</div>
 <div class="row">  
      <div class="col-lg-6 pt-8 pt-lg-0 pb-1g-0">
        <figure>
          <img
            src="/images/awerb-diagram-480.png">
          <div class="row">
            <figcaption><b><i><br>Fig 1. UKHSA Research</b></i></figcaption>
              <p style="font-size:small"><text-align:justified>Alongside epideiological and cell studies, 
              animal research plays an essential role 
              in understanding how infectious, radiological,chemical and other 
              environmental agents impact human health</text-align:justified></i>
            </p>
            </figcaption>
          </figure>

      
      </div>
    <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">
          Using Animal Testing in UKHSA Research
        </h3>
         <p>
        The UKHSA recognises that the use of animals in research is a sensitive and complex issue, and we
        are committed to being transparent about our use of animals in research. We believe that
        it is important to communicate openly with the public about the role of animal research in
        advancing scientific knowledge and improving human health <b>(Fig.1)</b>.</p>
        <p>The biological similarities between humans and other species means that they can, on some 
        occasions, be the only effective model for research where responses to agents 
        is too complex to be modelled in any other way.  Such animal models provide key 
        scientific evidence that informs interventions, policies and responses to local,
        national and international health security.
      </p>
      <p>The UK Health Security Agency (UKHSA) uses animal tesing in specific and carefully
          considered circumstances to support our public health research and protection responses
          to infectious diseases, vaccines and evironmenal hazzards. Within our vaccine and therapy
          development, animals are used to assess the safety and efficacy of new treatments for 
          diseases like influenza, HIV/AIDS, tuberculosis, hepatitis C, meningococcal disease, neonatal
          sepsis and other infectious diseases.</p>
          <br>
    </div>
  </div>
    <!-- /.row -->    
        <a
          class="button button--alt button--external mt-5"
          href="https://www.open.ac.uk/postgraduate/research-degrees/being-an-ou-research-student/affiliated-research-centres"
          target="_blank"
          rel="noopener"
          >consider link here</a>
      
    </p>
</div>
<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="pb-4 red">Animal Research at UKHSA</h2>
      </div>
    </div>

      <section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Why does UKHSA use Animal Testing?</h4>
      </div>
    </div>
</div>
<section class="pt-9 pb-12">
  <div class="container">
    <!-- Tabs Begin -->
    <div class="nav-tabs-container">
      <button class="js-tabs-dropdown">Select specialist area</button>
      <ul class="nav nav-tabs nav-tabs--research" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="tab-1"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-1"
            type="button"
            role="tab"
            aria-controls="tab-content-1"
            aria-selected="true"
          >
            Numbers
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-2"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-2"
            type="button"
            role="tab"
            aria-controls="tab-content-2"
            aria-selected="false"
          >
            Research Sites
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-3"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-3"
            type="button"
            role="tab"
            aria-controls="tab-content-3"
            aria-selected="false"
          >
            UKHSA Locations
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-4"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-4"
            type="button"
            role="tab"
            aria-controls="tab-content-4"
            aria-selected="false"
          >
            Why do we use animals in research?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-5"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-5"
            type="button"
            role="tab"
            aria-controls="tab-content-5"
            aria-selected="false"
          >
            Animal Research Regulations
          </button>
        </li>
      </ul>
    </div>

    <div class="tab-content pt-10" id="pheTabContent">
      <!-- Tab 1 -->
      <div
        class="tab-pane fade show active"
        id="tab-content-1"
        role="tabpanel"
        aria-labelledby="tab-1"
      >
        {{ partial "research-areas/infectious-diseases" . }}
      </div>

      <!-- Tab 2 -->
      <div
        class="tab-pane fade"
        id="tab-content-2"
        role="tabpanel"
        aria-labelledby="tab-2"
      >
        {{ partial "research-areas/environment-and-health" . }}
      </div>

      <!-- Tab 3 -->
      <div
        class="tab-pane fade"
        id="tab-content-3"
        role="tabpanel"
        aria-labelledby="tab-3"
      >
        {{ partial "research-areas/emergency-response" . }}
      </div>

      <!-- Tab 4 -->
      <div
        class="tab-pane fade"
        id="tab-content-4"
        role="tabpanel"
        aria-labelledby="tab-4"
      >
        {{ partial "research-areas/behavioural-sciences" . }}
      </div>

      <!-- Tab 5 -->
      <div
        class="tab-pane fade"
        id="tab-content-5"
        role="tabpanel"
        aria-labelledby="tab-5"
      >
        {{ partial "research-areas/statistics-and-modelling" . }}
      </div>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.container -->
</section>

{{ range first 1 .Pages }}

<section
  class="spotlight"
  style="background-image: url('/images/amr.jpg')"
>
  <div class="container">
    <h3 class="h2">Spotlight On: {{ .Title }}</h3>
    <div class="row">
      <div class="col-lg-6">
        <p class="mb-5">{{ .Description }}</p>
        <a href="{{ .Permalink }}" class="button button--arrow"
          >{{ .Params.buttonText }}</a
        >
      </div>
    </div>
  </div>
</section>

{{ end }}

<section class="pt-12 pb-12">
  <div class="container">
    <h2 class="pb-5">Research facilities and data</h2>

    <div class="row">
      <div class="col-lg-6">
        <h5>Research Facilities</h5>
        <p>
          UKHSA hosts specialist facilities and services in the following
          areas:<br />
          Microbiology, molecular biology, diagnostics, medical science,
          forensics, chemical, radiation & environmental hazards, production
          facilities, collections, animal sciences, bio-maths,
          ecotoxicology/environmental fate and quality systems and
          accreditation.
        </p>
      </div>

      <div class="col-lg-6 pt-5 pt-lg-0">
        <h5>Digital, data and technology</h5>
        <p>
          The strengthening and application of our digital, data and technology
          (DDaT) capability is key to maximising the opportunities afforded to
          us through research. This could be through the greater use of
          data-driven technologies such as artificial intelligence (AI) to
          improve diagnoses, or through improved use of data to generate new
          evidence on the effectiveness of interventions.
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-6">
        <h5>Research Facilities</h5>
        <p>
          UKHSA is also a member of the National Laboratory Alliance (NLA), one
          of 10 Public Sector Research Establishments (PSRE) forming part of the
          Government’s wider science capability. Some our facilities are also
          open to research scientists and engineers working in the public and
          commercial sectors in the UK and internationally.
        </p>
      </div>
    </div>
  </div>
</section>

{{ end }}

  <div class="container">
    <!-- Tabs Begin -->
    <div class="nav-tabs-container">
      <button class="js-tabs-dropdown">Select specialist area</button>
      <ul class="nav nav-tabs nav-tabs--research" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="tab-1"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-1"
            type="button"
            role="tab"
            aria-controls="tab-content-1"
            aria-selected="true"
          >
            UKHSA locations
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-2"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-2"
            type="button"
            role="tab"
            aria-controls="tab-content-2"
            aria-selected="false"
          >
            Why do we use animals in research?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-3"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-3"
            type="button"
            role="tab"
            aria-controls="tab-content-3"
            aria-selected="false"
          >
            Numbers of animals used in our research
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-4"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-4"
            type="button"
            role="tab"
            aria-controls="tab-content-4"
            aria-selected="false"
          >
            How is animal research regulated?
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="tab-5"
            data-bs-toggle="tab"
            data-bs-target="#tab-content-5"
            type="button"
            role="tab"
            aria-controls="tab-content-5"
            aria-selected="false"
          >
            To be confirmed
          </button>
        </li>
      </ul>
    </div>

    <div class="tab-content pt-10" id="pheTabContent">
      <!-- Tab 1 -->
      <div
        class="tab-pane fade show active"
        id="tab-content-1"
        role="tabpanel"
        aria-labelledby="tab-1"
      >
        {{ partial "research-areas/infectious-diseases" . }}
      </div>

      <!-- Tab 2 -->
      <div
        class="tab-pane fade"
        id="tab-content-2"
        role="tabpanel"
        aria-labelledby="tab-2"
      >
        {{ partial "research-areas/environment-and-health" . }}
      </div>

      <!-- Tab 3 -->
      <div
        class="tab-pane fade"
        id="tab-content-3"
        role="tabpanel"
        aria-labelledby="tab-3"
      >
        {{ partial "research-areas/emergency-response" . }}
      </div>

      <!-- Tab 4 -->
      <div
        class="tab-pane fade"
        id="tab-content-4"
        role="tabpanel"
        aria-labelledby="tab-4"
      >
        {{ partial "research-areas/behavioural-sciences" . }}
      </div>

      <!-- Tab 5 -->
      <div
        class="tab-pane fade"
        id="tab-content-5"
        role="tabpanel"
        aria-labelledby="tab-5"
      >
        {{ partial "research-areas/statistics-and-modelling" . }}
      </div>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.container -->
</section>

{{ range first 1 .Pages }}

<section
  class="spotlight"
  style="background-image: url('/images/amr.jpg')"
>
  <div class="container">
    <h3 class="h2">Spotlight On: {{ .Title }}</h3>
    <div class="row">
      <div class="col-lg-6">
        <p class="mb-5">{{ .Description }}</p>
        <a href="{{ .Permalink }}" class="button button--arrow"
          >{{ .Params.buttonText }}</a
        >
      </div>
    </div>
  </div>
</section>

{{ end }}

<section class="pt-12 pb-12">
  <div class="container">
    <h2 class="pb-5">Research facilities and data</h2>

    <div class="row">
      <div class="col-lg-6">
        <h5>Research Facilities</h5>
        <p>
          UKHSA hosts specialist facilities and services in the following
          areas:<br />
          Microbiology, molecular biology, diagnostics, medical science,
          forensics, chemical, radiation & environmental hazards, production
          facilities, collections, animal sciences, bio-maths,
          ecotoxicology/environmental fate and quality systems and
          accreditation.
        </p>
      </div>

      <div class="col-lg-6 pt-5 pt-lg-0">
        <h5>Digital, data and technology</h5>
        <p>
          The strengthening and application of our digital, data and technology
          (DDaT) capability is key to maximising the opportunities afforded to
          us through research. This could be through the greater use of
          data-driven technologies such as artificial intelligence (AI) to
          improve diagnoses, or through improved use of data to generate new
          evidence on the effectiveness of interventions.
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-6">
        <h5>Research Facilities</h5>
        <p>
          UKHSA is also a member of the National Laboratory Alliance (NLA), one
          of 10 Public Sector Research Establishments (PSRE) forming part of the
          Government’s wider science capability. Some our facilities are also
          open to research scientists and engineers working in the public and
          commercial sectors in the UK and internationally.
        </p>
      </div>
    </div>
  </div>
</section>

{{ end }}
