{{ define "main" }}

<div class="page-title">
  <div class="container">
    <h1>UKHSA Research Involving Animals - Promoting Transparency</h1>
    <div class="row mb-4">
      <div class="col-md-5">
        <p>
          We are committed to the responsible and ethical use of animals in research, 
          ensuring the highest standards of welfare while advancing scientific understanding 
          that protects public health. We invest in the development of alternative methods, promote transparency, and embed a culture of care across all research practices
        </p>
      </div>
    </div>
  </div>
</div>

<section class="pt-9 pb-12">
  <div class="container pb-6">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="pb-4 red">Animal Research at UKHSA</h2>
      </div>
    </div>
<div class="row">
  <div class="col-lg-6 pt-8 pt-lg-0 pb-5 pb-lg-0">
    <h4 class="d-lg-none d-print-none pb-4 red">Animal Usage in UKHSA Research</h4>
    <figure>
      <img
        src="/images/awerb-diagram-480.png"
        alt="Diagram explaining use of animals."
      />
      <!-- Add space after the image -->
      <div style="height: 1rem;"></div>
      <figcaption style="font-size: 0.75em; font-style: italic;">
        <strong><em>Figure 1:</em></strong> UKHSA research. Alongside epidemiological and cell studies, animal research plays an essential role in understanding how infectious, radiological, chemical and other environmental agents impact human health. This provides key scientific evidence that informs interventions, policies and incident responses to protect the population from existing and emerging health threats.
      </figcaption>
    </figure>
  </div>
  <div class="col-lg-6">
    <h3 class="red d-none d-lg-block">Why Animal Research is Important</h3>
    <p>
      Animal research plays an essential role in understanding how infectious, radiological, chemical and other environmental 
      agents impact human health (<strong><em>Figure 1</em></strong>). The biological similarities between humans and 
      other species means that they can, on some occasions, be the only effective model for 
      research where responses to agents is too complex to be modelled in any other way. Such 
      animal models provide key scientific evidence that informs interventions, policies and responses 
      to local, national and international health security incidents, protecting the population from existing 
      and emerging health threats.
    </p>
  </div>
</div>

    <!-- /.row -->

    <div class="row pt-12">
  <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-start">
    <h4 class="d-lg-none d-print-none pb-4 red">
      UKHSA Locations and Animal Research
    </h4>
    <figure>
      <img
        src="/images/2b-graph.png"
        alt="where our research takes place."
      />
      <!-- Caption aligned left under the image -->
      <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
        <strong><em>Figure 2:</em></strong> Annual UKHSA animal usage over the last 5 years (A) by species and (B) by site. Values represent the annual average percentages of the average annual total of 5695 animals from 2017 to 2021.
      </figcaption>
    </figure>
  </div>
  <div class="col-lg-6 order-lg-1">
    <h3 class="red d-none d-lg-block">
      UKHSA Locations and Animal Research
    </h3>
    <p>
      The animal work conducted at the 3 UKHSA sites provides an essential 
      capability for health security as well as opportunities for scientific 
      advancement aligned to UKHSA’s mission of interest to R&D funders internationally. 
      UKHSA has substantial experience in assisting in the development of countermeasures 
      to protect the population from health threats. 
    </p>
    <p>
      UKHSA Porton also includes Porton Biopharma Limited (PBL), which focusses on the quality-assured development 
      of life-saving biopharmaceuticals. PBL manufacture the licenced childhood leukaemia therapy Erwinase, and the UK’s licenced anthrax vaccine.
    </p>
    <a
      class="button button--alt button--external mt-5"
      href="https://www.open.ac.uk/postgraduate/research-degrees/being-an-ou-research-student/affiliated-research-centres"
      target="_blank"
      rel="noopener"
      >Consider a link here</a
    >
  </div>
</div>
    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Scientific Career Opportunities
        </h4>
        <img
          src="/images/scientific-career-opportunities.jpg"
          alt="Scientist using a pipette."
        />
      </div>
      <div class="col-lg-6">
        <h3 class="red d-none d-lg-block">Scientific career opportunities</h3>
        <ul>
          <li>
            Our staff are encouraged to develop portfolios as independent
            researchers working towards improvements across the public health
            portfolio.
          </li>
          <li>
            We host post-doctoral research workers working to develop improved
            public health
          </li>
          <li>
            We offer honorary contracts to academics to improve the public
            health science base. We are also eligible to host joint academic
            posts with partner organisations.
          </li>
        </ul>

        <p>
          If you would like to establish stronger academic links or have a
          post-doctoral project you would like to support, please contact
          <a class="bold-link" href="mailto:Research.Support@ukhsa.gov.uk"
            >Research.Support@ukhsa.gov.uk</a
          >. Other opportunities are published in NHS jobs, or through
          jobs.ac.uk and via our partners.
        </p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0 order-lg-2 text-start text-lg-end">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Research and Collaboration Opportunities
        </h4>
        <img
          src="/images/research-and-collaboration-opportunities.jpg"
          alt="Research and collaboration."
        />
      </div>
      <div class="col-lg-6 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Research and Collaboration Opportunities
        </h3>
        <p>
          Our experts work in partnership with university-based researchers
          nationally and internationally, research funders, the NHS, local
          authorities, the third sector and the public to maximise research
          capabilities across the system.
        </p>

        <p>
          The Research Support and Governance Office is the central point of
          contact for enquires regarding research and collaboration
          opportunities and offers from academia and other research-active
          organisations
          <a class="bold-link" href="mailto:ResearchSupport@ukhsa.gov.uk"
            >ResearchSupport@ukhsa.gov.uk</a
          >
        </p>
      </div>
    </div>

    <div class="row pt-12">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <h4 class="d-lg-none d-print-none pb-4 red">
          Opportunities for Industry
        </h4>
        <img
          src="/images/opportunities-for-industry.jpg"
            alt="Opportunities for industry."
          />
        </div>
        <div class="col-lg-6">
          <h3 class="red d-none d-lg-block">Opportunities for Industry</h3>
          <p>
            UKHSA can provide your organisation with access to world-leading
            expertise in research and development across a broad range of
          activities that prevent and reduce of the effect of diseases and
          chemical and radiation hazards.
        </p>

        <p>
          We offer opportunities for research collaboration and partnership,
          consultancy, technology licensing and training and development for
          industry.
        </p>

        <p>
          Please contact our Business Development Team (<a
            class="bold-link"
            href="mailto:Business@ukhsa.gov.uk"
            >Business@ukhsa.gov.uk</a
          >) who have in depth knowledge of our organisation’s research
          activities and will be able to direct your enquiry to the appropriate
          experts.
        </p>
      </div>
    </div>
    <!-- /.row -->

    <div class="row pt-12">
      <div class="col-lg-9 order-lg-1">
        <h3 class="red d-none d-lg-block">
          Research and Collaboration Opportunities
        </h3>
        <p class="mb-4">
          <strong>OPEN CALL:</strong> Apply to undertake an ‘Innovation in AMR’
          study with UKHSA, working with our scientific experts.
        </p>
        <a
          class="button button--alt button--external"
          href="/documents/UKHSA-AMR-Open-Innovation-Factsheets-Nov-2024.pdf"
          target="_blank"
          rel="nopener"
          >Click here for more information</a
        >
      </div>
    </div>
    <!-- /. row -->
  </div>
  <!-- /.container -->

  <div class="container"></div>
  <!-- /.container -->
</section>

{{ end }}
