<section class="pt-12 pb-12">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-9">
        <h2 class="red">The 3Rs: Replacement, Reduction, Refinement</h2>
        <p>
          The 3Rs are guiding principles for more ethical use of animals in research: Replace (use alternatives to animals where possible), Reduce (use as few animals as necessary), and Refine (minimise suffering and improve welfare).
        </p>
      </div>
    </div>
<section class="pt-12 pb-12">
  <div class="container">
    <h2 class="pb-5">Research facilities and data</h2>

    <div class="row">
      <div class="col-lg-6">
        <h5>Research Facilities</h5>
        <p>
          UKHSA hosts specialist facilities and services in the following
          areas:<br />
          Microbiology, molecular biology, diagnostics, medical science,
          forensics, chemical, radiation & environmental hazards, production
          facilities, collections, animal sciences, bio-maths,
          ecotoxicology/environmental fate and quality systems and
          accreditation.
        </p>
      </div>

      <div class="col-lg-6 pt-5 pt-lg-0">
        <h5>Digital, data and technology</h5>
        <p>
          The strengthening and application of our digital, data and technology
          (DDaT) capability is key to maximising the opportunities afforded to
          us through research. This could be through the greater use of
          data-driven technologies such as artificial intelligence (AI) to
          improve diagnoses, or through improved use of data to generate new
          evidence on the effectiveness of interventions.
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-6">
        <h5>Research Facilities</h5>
        <p>
          UKHSA is also a member of the National Laboratory Alliance (NLA), one
          of 10 Public Sector Research Establishments (PSRE) forming part of the
          Government’s wider science capability. Some our facilities are also
          open to research scientists and engineers working in the public and
          commercial sectors in the UK and internationally.
        </p>
      </div>
    </div>
  </div>
</section>

{{ end }}
    <!-- Full-width image and caption above the text -->
    <