<div class="row">
  <div class="col-lg-6">
      <figure>
        <img
          src="/images/2b-graph.png"
          alt="where our research takes place."
        />  
        <!-- Caption aligned left under the image -->
        <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
          <strong><em>Figure 2: UKHSA Locations</em></strong><br> 
          Annual UKHSA animal usage over the last 4 years by site. Values represent the annual average percentages of the average annual total of 3400 animals from 2021 to 2024.  
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-6 order-lg-1" style="text-align: justify;">
      <h3 class="red d-none d-lg-block">
        UKHSA Locations and Animal Research
      </h3>
      <p>
        The animal research conducted at the 3 UKHSA sites <i><strong>Fig.2</strong></i> provides an essential 
        capability for health security as well as opportunities for scientific 
        advancement aligned to UKHSA’s mission of interest to R&D funders internationally. 
        UKHSA has substantial experience in assisting in the development of countermeasures 
        to protect the population from health threats. 
      </p>
      <p>
        In addition, some animals used in UKHSA are supporting important regulatory vaccine and therapeutic products.
      </p>
      <a
        class="button button--alt button--external mt-5"
        href="https://www.gov.uk/government/publications/uk-health-security-agency-ukhsa-research-involving-animals"
        target="_blank"
        rel="noopener"
        >Read more: UKHSA Research Animal Research</a>
    </div>
</div>
<!-- /.row -->
<!-- ...existing code... -->
