<div class="row">
  <div class="col-lg-6">
      <figure>
        <img
          src="/images/animal-legislation.png"
          alt="Guidance and Regulations."
          style="max-width: 100%; width: 100%; height: auto"
        />  
        <!-- Caption aligned left under the image -->
        <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
          <strong><em>Figure 3: Regulation of Animal Research (Source M.Dennis).</em></strong> 
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-6 order-lg-1" style="text-align: justify;">
      <h3 class="red d-none d-lg-block"><div class="row">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6 order-lg-1">
    <div class="text-start text-lg-start">
      <h3 class="red d-none d-lg-block">
        UK regulations on research using animals
      </h3>
      <p style="text-align: justify;">
        Use of animals for research in the UK is governed by the Animals (Scientific Procedures) Act 1986 (ASPA)
        This stipulates that animal research can only be performed under a specified Project Licence (PPL),
        within an organisation with a Place Establishment Licence (PEL), and by individuals holding a Personal Licence (PIL).
        ASPA is implemented and regulated by the Animals in Science Regulation Unit (ASRU) with the Home Office.
        More information on ASPA and its operation can be found <a href="https://www.gov.uk/guidance/research-and-testing-using-animals"
          target="_blank" rel="noopener">here</a>.
      </p>
      <p style="text-align: justify;">
        In addition, there is guidance on the responsible acquisition and use of animal derived materials that are used in research, including ethical awareness and welfare considerations. 
        Click the below link to the UKRIO Ethical Framework to find out more.
      </p>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-12 text-end">
      <a class="button button--alt button--external mt-4"
         href="https://ukrio.org/ukrio-resources/ethical-framework-for-obtaining-materials-from-sentient-animals/"
         target="_blank"
         rel="noopener"
      >Read more on UKRIO Ethical Framework</a>
    </div>
  </div>
</div>
<!-- /.row -->
<!-- ...existing code... -->
