<div class="row">
      <div class="col-lg-6">
              <figure>
                <img
                  src="/images/research-and-collaboration-opportunities.jpg"
                  alt="regulations and guidance."
                 />
   <!-- Caption aligned left under the image -->  
        <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
          <strong><em>Figure 2: UKHSA Locations</em></strong><br> 
          Annual UKHSA animal usage over the last 4 years by site. Values represent the annual average percentages of the average annual total of 3400 animals from 2021 to 2024.  
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="text-start text-lg-start">
        <h3 class="red d-none d-lg-block">
        Regulations and Guidance</h3>
    <p>
          The UK Health Security Agency (UKHSA) has three Animal Welfare and Ethical Review Bodies (AWERBs) located at Porton Down, Colindale and Manchester. 
          The AWERBs are responsible for the ethical review of all animal research conducted by UKHSA, ensuring that it is performed to high standards and in compliance with the Animals (Scientific Procedures) Act 1986 (ASPA).
        </p>
        <figure>

  <p>The UKHSA has overall responsibility for the implementation of ASPA and the operation of the AWERB.
  The 3 AWERBs function locally but work collaboratively to share best practice, reporting quarterly into the UKHSA Science Governance Committee. More information can be found on 
  <a href="https://khub.net/web/phe-national/public-library/-/document_library/v2WsRK3ZlEig/view_file/260932585?_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_v2WsRK3ZlEig_redirect=https%3A%2F%2Fkhub.net%3A443%2Fweb%2Fphe-national%2Fpublic-library%2F-%2Fdocument_library%2Fv2WsRK3ZlEig%2Fview%2F260897286%3F_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_v2WsRK3ZlEig_redirect%3Dhttps%253A%252F%252Fkhub.net%253A443%252Fweb%252Fphe-national%252Fpublic-library%252F-%252Fdocument_library%252Fv2WsRK3ZlEig%252Fview%252F174103465"
    target="_blank" rel="noopener">
  <a href="" target="_blank" rel="noopener">UKHSA AWERB terms of reference</a>.
</p>
</p>
</figure>
  </div>
        <p>
          Use of animals for research in the UK is governed by the Animals (Scientific Procedures) Act 1986. 
          This stipulates that animal research can only be performed under a specified Project Licence (PPL),
          within an organisation with a Place Establishment Licence (PEL), and by individuals holding a Personal Licence (PIL). 
          ASPA is implemented and regulated by the Animals in Science Regulation Unit (ASRU) with the Home Office. 
          More information on ASPA and its operation can be found here.
        </p>
        <p>
       One requirement of the ASPA is to have an Animal Welfare and Ethical Review Body (AWERB)to ensure that the use 
       of animals is carefully considered, justified and performed to high standards; all opportunities for reduction, 
       refinement and replacement (the 3Rs) are implemented; and the four commitments of the Understanding Animal Research 
       (UAR) <a href="https://concordatopenness.org.uk" target="_blank" rel="noopener">Concordat on Openness</a> are upheld. 
        </p>
     
      </div>
    </div>

   <!-- ...existing code... -->
