<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">Why Animal Research is Important</h3>
    <p>
     Animal research plays an essential role in understanding how infectious,
     radiological, chemical and other environmental agents impact human health
     (Figure 1). The biological similarities between humans and other species
     means that they can, on some occasions, be the only effective model for
     research where responses to agents is too complex to be modelled in any
     other way. Such animal models provide key scientific evidence that informs
     interventions, policies and responses to local, national and international
     health security incidents, protecting the population from existing and
     emerging health threats.
    </p>

  </div>
  <!-- /.col -->

</div>
<!-- /.row -->
