<div class="row">
  <div class="col-lg-6">
    <h3 class="red mb-3">UKHSA Animal Usage Statistics</h3>
    <p>
      Across the 3 sites <i><strong>Fig.2</strong></i> using animals in their research, an average of 3400 animals 
      are typically used per year. This is less than 6% of the usage of the top 10 UK organisations that performed the most animal research, 
      which reported the use of over 60,580 (10th) to 223,787 (1st) animals in 2023. 
      Click for more information on how UKHSA compares to other  
      <a href="https://www.understandinganimalresearch.org.uk/news/eu-wide-animal-research-statistics-2022"
        target="_blank" rel="noopener">
        UK organisations
      </a>, and how the UK compares to 
      <a href="https://www.understandinganimalresearch.org.uk/news/animal-research-in-europe-2023"
        target="_blank" rel="noopener">
        other European nations</a>.
  </p>
  <p>
      The vast majority of these animals suffer no, mild or moderate harm. 
      At UKHSA, most of our animal research takes place at Porton Down, followed 
      by our Chilton site. Mice are the most commonly used animal model, 
      followed by guinea pigs and hamsters (<strong><em>Fig 3</em></strong>). 
      Click for more information on UKHSA animal use for 2023 and previous years.
    </p>
    </div>
  <div class="col-lg-6 d-flex align-items-center justify-content-end">
    <figure class="ms-lg-4 w-100" style="max-width: 400px;text-align:right;">
      <img src="/images/2a-graph.png" alt="Graph showing the number of animals used in UKHSA research" class="img-right">
      <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
        <strong><em>Figure 3: Annual Breakdown of Animal Usage in UKHSA Research by Species</em></strong> <br> 
        Data shows the percentage proportion of each species of animal used between 2021-2024
      </figcaption>
    </figure>
    </div>
  </div>
</div>
    <!-- /.row -->
   <!-- ...existing code... -->