<div class="row">
  <div class="col-lg-6 order-lg-1">
    <h3 class="red d-none d-lg-block">
      Typical Annual Animal Usage Statistics at UKHSA</h3> 
    <div style="text-align: justify;">
      <p>
        Across the 3 UKHSA sites <strong><em>(Fig 2)</em></strong> using animals in their research, an average of 3400 animals 
        are typically performed on animals per year. This is less than 6&#37; of the number of procedures performed by the top 10 UK organisations carrying out the
        most animal research, which reported over 60,580 (10th) to 223,787 (1st) procedures on animals in 2023. 
        Click for more information on how UKHSA compares to other <a href="https://www.understandinganimalresearch.org.uk/news/eu-wide-animal-research-statistics-2022"
      target="_blank" rel="noopener">UK organisations</a> and how the UK compares to 
        <a href="https://https://www.understandinganimalresearch.org.uk/news/ten-organisations-account-for-half-of-all-animal-research-in-great-britain-in-2023"
      target="_blank" rel="noopener">other European nations</a>.
      </p>
      <p>
        At UKHSA, the majority of procedures are performed on mice (47%), followed by guinea pigs (31.5 %), hamsters (14%), ferrets (3%), and non-human primates,
        rabbits, rats and turkeys (4.5% total) (Fig 3). The vast proportion of these animals suffer no, mild or moderate harm. UKHSA Porton performs the most procedures (70&#37;), 
        followed by UKHSA Chilton (27&#37;) and UKHSA Colindale (3&#37;). (<strong><em>Fig 3</em></strong>). 
        Click for more information on UKHSA animal use for 2023 and previous years.
      </p>
    </div>
  </div>
  <div class="col-lg-6 order-lg-2 d-flex flex-column align-items-end">
    <figure>
      <img
        src="/images/2b-graph.png"
        alt="locations of animals used in UKHSA."
        class="img-fluid mb-3"
        style="max-width: 350px; height: auto;"
      />
      <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
        <strong><em>Figure 2:</em> UKHSA Locations: Annual UKHSA animal usage over the last 4 years by site. Values represent the annual average percentages
          of the average annual total of 3400 procedures from 2021-2024</strong>
      </figcaption>
    </figure>
    <figure>
      <img
        src="/images/2a-graph.png"
        alt="UKHSA animal statistics."
        class="img-fluid"
        style="max-width: 350px; height: auto;"
      />
      <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
        <strong><em>Figure 3:UKHSA Species: The percentage proportion of each animal species used between 2021 - 2024.</em> .</strong>
      </figcaption>
    </figure>
  </div>
</div>
<!-- /.row -->
<!-- ...existing code... -->