<div class="row">
  <div class="col-lg-6">
    <figure>
      <img
        src="/images/2a-graph.png"
        alt="statistics of animals used in UKHSA."
      />
      <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
        <strong><em>Figure 3:</em> Data shows the percentage proportion of each animal species used between 2021 - 2024.</strong><br>
      </figcaption>
    </figure>
  </div>
  <div class="col-lg-6 order-lg-1">
      <h3 class="red d-none d-lg-block">
        UKHSA Animal Usage Statistics
      </h3> 
      <div style="text-align: justify;">
        <p>
          Across the 3 sites <i><strong>Fig.2</strong></i> using animals in their research, an average of 3400 animals 
          are typically used per year. This is less than 6&#37; of the usage of the top 10 UK organisations that performed the most animal research, 
          which reported the use of over 60,580 (10th) to 223,787 (1st) animals in 2023. 
          Click for more information on how UKHSA compares to other <a href="https://www.understandinganimalresearch.org.uk/news/eu-wide-animal-research-statistics-2022"
        target="_blank" rel="noopener">UK organisations</a> and how the UK compares to 
          <a href="https://www.understandinganimalresearch.org.uk/news/animal-research-in-europe-2023"
        target="_blank" rel="noopener">other European nations</a>.
        </p>
        <p>
        The vast proportion of these animals suffer no, mild or moderate harm. UKHSA Porton uses the most animals (70&#37;), 
        followed by UKHSA Chilton (27&#37;) and UKHSA Colindale (3&#37;). The majority of the animals used each year are mice (47&#37;), 
        followed by guinea pigs (31.5 %), hamsters (14&#37;), ferrets (3&#37;), and non-human primates, rabbits, rats and turkeys (4.5&#37; total) 
        (Figure 2A). The vast proportion of these animals suffer no, mild or moderate harm. UKHSA Porton uses the most animals (70&#37;), followed by 
        UKHSA Chilton (27&#37;) and UKHSA Colindale (3&#37;) (<strong><em>Fig 3</em></strong>). 
        Click for more information on UKHSA animal use for 2023 and previous years.
        </p>
      </div>
    </div>
  </div>
      <!-- /.row -->
<!-- ...existing code... -->