<div class="row">
  <div class="col-lg-6">
      <figure>
        <img
          src="/images/environment-animal.png"
          alt="Guidance and Regulations."
        />  
        <!-- Caption aligned left under the image -->
        <figcaption style="font-size: 0.75em; font-style: italic; text-align: left;">
          <strong><em>Figure 3:Environmental Enrichment and Animal Welfare (Source M Dennis UKHSA).</em></strong><br>   
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-6 order-lg-1" style="text-align: justify;">
      <h3 class="red d-none d-lg-block">
        Animal Welfare at UKHSA
      </h3>
      <p>
        One requirement of the Animals (Scientific Procedures) Act 1986 (ASPA) is to have an Animal Welfare and Ethical Review Body (AWERB) 
        to ensure that the use of animals is carefully considered, justified and performed to high standards; all opportunities for reduction, 
        refinement and replacement (the 3Rs) are implemented; and the four commitments of the Understanding Animal Research (UAR) <a 
        href="https://concordatopenness.org.uk/about-the-concordat-on-openness/" target="_blank" rel="noopener">Concordat on Openness</a> 
        are upheld.
      </p>
      <p>
        The PEL holder at each site has overall responsibility for the implementation of ASPA and the operation of the AWERB. The 3 AWERBs function 
        locally but work collaboratively to share best practice, reporting quarterly into the UKHSA Science Governance Committee.
      </p>
     
    </div>
</div>
<!-- /.row -->
<!-- ...existing code... -->
