<div class="row">
  <div class="col-lg-6">
    <h3 class="red d-none d-lg-block">Why Animal Research is Important</h3>
    <p style="text-align: justify;">
      Animal research plays an essential role in understanding how infectious, radiological, chemical and other environmental 
      agents impact human health  <i>(Fig 1)</i>. The biological similarities between humans and other species means that they can, on some occasions, 
      be the only effective model for research where responses to agents are too complex to be modelled in any other way. Alongside other evolving 
      technologies such as tissue and organ culture, the animal work conducted at <span spellcheck="false">UKHSA</span> provides an essential capability for health security as well as 
      opportunities for scientific advancement in collaboration with international <span spellcheck="false">funders</span>.
    </p>
    <p style="text-align: justify;">
      More specifically, animals are used within <span spellcheck="false">UKHSA</span> research to:
    </p>
    <ul style="text-align: justify;">
      <li>improve methods of diagnosis and to identify the severity of new and emerging pathogen</li>
      <li>support the development of vaccine therapies for the main 
        <a href="https://www.gov.uk/government/publications/priority-pathogen-families-research-and-development-tool" target="_blank" rel="noopener">
          public health threats and emerging or re-emerging diseases</li>
      <li><span spellcheck="false">characterise</span> the effects of radiation on specific cancers and cardiovascular disease</li>
      <li>identify the potential toxicity of air pollutants and chemicals</li>
      <li>inform policies, interventions and messaging campaigns to better protect human health</li>
      <li>improve management of casualties in acute radiation, chemical and other environmental incidents</li>
    </ul>
    <p style="text-align: justify;">
      a {text -decoration: none:}
      Further details of animal studies conducted by <span spellcheck="false">UKHSA</span> sites can be viewed
      <a href="https://www.gov.uk/government/publications/uk-health-security-agency-ukhsa-research-involving-animals/ukhsa-research-involving-animals" target="_blank" rel="noopener">here</a>.
    </p>
  </div>
  <div class="col-lg-6 d-flex align-items-center justify-content-center">
    <figure class="ms-lg-4 w-100">
      <img
        src="/images/animal-research.png"
        alt="Diagram explaining use of animals."
        style="max-width: 100%; width: 100%; height: auto; display: block;"
      />
      <figcaption style="font-size: 0.75em; font-style: italic;">
        <strong><em>Figure 1:</em></strong> <i><span spellcheck="false">UKHSA</span> Research</i>
       Animal research still plays an essential role in understanding how infections, radiological, chemical and other environmental agents impact human health.
       This understanding informs interventions, policies and incident responses to protect the population from existing and emerging health threats.
      </figcaption>
    </figure>
  </div>
</div>
<!-- /.row -->
<!-- ...existing code... -->